<div class="jumbotron">
  <div class="container">
    <h1>MEAN Authentication App</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum excepturi harum iste modi mollitia necessitatibus officia provident quisquam reiciendis veniam.</p>
    <p>
      <a [routerLink]="['/register']" class="btn btn-primary">Register</a><a [routerLink]="['/login']" class="btn btn-default">Login</a>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express BackEnd</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque dicta dolor enim hic impedit quis ratione totam voluptates. Ab animi aspernatur blanditiis deserunt eveniet expedita fugiat, in officiis quas quisquam repellendus sequi totam ullam, vel voluptates? Dignissimos dolores nisi quam.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular CLI</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eveniet fugit ipsa laboriosam, quia sunt.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur earum magni minus officiis pariatur similique voluptates. Animi cupiditate dolor doloremque eligendi eum facilis hic inventore ipsa labore laboriosam laborum libero nobis nulla, numquam officia officiis omnis repudiandae, saepe? Adipisci excepturi non quia reiciendis soluta.</p>
  </div>
</div>
