
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']"
         class="navbar-brand">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li>
        <a [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/register']">Register</a></li>
    </ul>
  </div>
</nav>
